@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DMS</h1>
    <video width="500" height="300">
        <source src="C:\Users\TDP\source\repos\DMS\DMS\Videos\AB (1).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
@*<video src="Videos/AB (1).mp4" controls>
    Your browser does not support the video tag.
</video>*@
@*<video width="320" height="240" autoplay loop muted>
    <source src="C:\Users\TDP\source\repos\DMS\DMS\Videos\AB (1).mp4" type="video/mp4">
   @* <source src="C:\Users\TDP\source\repos\DMS\DMS\Videos\AB (1).mp4" type="video/ogg">*@
@*</video>*@

@*<video width="320" height="240" controls src="C:\Users\TDP\source\repos\DMS\DMS\Videos\AB (1).mp4">
    Your browser does not support the video tag.
</video>*@
