<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DMS.styles.css" asp-append-version="true" />
  @*  <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
</head>
<body>
    <header>
       @* <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-black">*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @*<div class="position-sticky"*@
            <div class="container-fluid">
               <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @*<div class="list-group list-group-flush mx-3 mt-4">
                    <a  class="list-group-item list-group-item-action py-2 ripple active" aria-current="true" asp-controller="Home" asp-action="Index" style="background-color:darkslategrey">
                        <span>Main dashboard</span>*@
                    </a>
                   @* <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="Customer" asp-action="Index">
                       <span>Customer</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="Vendor" asp-action="Index">
                       <span>Vendor</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="Booker" asp-action="Index">
                        <span>Booker</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="Product" asp-action="Index">
                        <span>Product</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="SaleOder" asp-action="Index">
                        <span>SaleOrder</span>
                    </a*@>
               @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Vendor" asp-action="Index">Vendor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Booker" asp-action="Index">Booker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SaleOrder" asp-action="Index">SaleOrders</a>
                        </li>*@
                @*<div class="list-group list-group-flush mx-3 mt-4">*@
@*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@    
                    @*PURCHASE*@
                        <li class="nav-item dropdown"> 
                            <div class="dropdown"> 
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Purchase</a>
                                <div class="dropdown-menu"> 
                                    <a class="dropdown-item" asp-controller="Vendor" asp-action="Index">Vendor</a>
                                    <a class="dropdown-item" asp-controller="PurchaseRequisition" asp-action="Index">Purchase Requisition</a>
                                    <a class="dropdown-item" asp-controller="PurchaseOrder" asp-action="Index">Purchase Order</a>
                                    <a href="#" class="dropdown-item">Goods Receipt</a>
                                    <a href="#" class="dropdown-item">Account Payable Invoice</a>
                                    <a class="dropdown-item" asp-controller="PurchaseReturn" asp-action="Index">Purchase Return</a>
                                    <a class="dropdown-item" asp-controller="PurchaseCategory" asp-action="Index">Category</a>
                                </div>
                            </div>
                        </li>
                        @*SALES*@
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Sales</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Customer" asp-action="Index">Customer Master</a>
                                    <a class="dropdown-item" asp-controller="SaleOrder" asp-action="Index">Sale Order</a>
                                    <a class="dropdown-item" asp-controller="GoodsDelivery" asp-action="Index">Goods Delivery</a>
                                    <a class="dropdown-item" asp-controller="AccountPayableInvoice" asp-action="Index">Account Payable Invoice</a>
                                    <a class="dropdown-item" asp-controller="SalesReturn" asp-action="Index">Sales Return</a>
                                    <a class="dropdown-item" asp-controller="CustomerCategory" asp-action="Index">Customer Category</a>
                                </div>
                            </div>
                        </li>
                        @*FINANCE & ACCOUNTS*@
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Finance & Accounts</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Chart of Accounts</a>
                                    <a href="#" class="dropdown-item">Journal Entry</a>
                                    <a href="#" class="dropdown-item">Customer Ledger</a>
                                    <a href="#" class="dropdown-item">Vendor Ledger</a>
                                </div>
                            </div>
                        </li>
                        @*INVENTORY*@
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Inventory</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Product" asp-action="Index">Product Master</a>
                                    <a href="#" class="dropdown-item">Product Category</a>
                                    <a href="#" class="dropdown-item">Warehouse</a>
                                    <a href="#" class="dropdown-item">Stock Transactions</a>
                                    <a href="#" class="dropdown-item">Trade Offer</a>
                                    <a href="#" class="dropdown-item">Discount</a>
                                </div>
                            </div>
                        </li>
                        @*DISTRIBUTION*@
                        <li class="nav-item dropdown">

                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Distribution</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Booker" asp-action="Index">Booker</a>
                                    <a href="#" class="dropdown-item">Sales Man</a>
                                </div>
                            </div>
                        </li>
                        @*ADMINISTRATION*@
                        <li class="nav-item dropdown">

                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Administration</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">User Management</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DMS - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
